<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<table>
    <thead>
        <tr>
            <th>GREEN</th>
            <th>PINK</th>
            <th>STORE NAME</th>
            <th>ADDR</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="info: ${infos}">
            <td th:text="${info.greenCount}"></td>
            <td th:text="${info.pinkCount}"></td>
            <td th:text="${info.storeName}"></td>
            <td th:text="${info.storeAddr}"></td>
        </tr>
    </tbody>
</table>
</body>
</html>